# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
.puku

# IDE
.vscode/
.idea/

.API.md

# OS
.DS_Store
Thumbs.db

# Project artefacts
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
node_modules/
project.pdf